@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

html {
  height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    line-height: 26px;
    background: #E5E5E5;
    color: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  margin: 0 auto;
  width: 1200px;
  background-color: #FFFFFF;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  height: 65px;
}

.navigation-logo {
  width: 139px;
  height: 70px;
  margin-right: 30px;
}

.navigation-list {
  margin: 0;
  padding: 0;
  width: 450px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.navigation-link {
    text-decoration: none;
    color: #000000;
    font-weight: 700;
    text-align: center;
    display: block;
    padding: 20px 17px 19px 17px;
}

.navigation-link:hover {
  color: #756257;
}

.navigation-link:active {
  color: rgba(117, 98, 87, 0.3);
}

.navigation-user {
  max-width: 320px;
  margin-left: auto;
  justify-content: flex-end;
}

.navigation-user .navigation-link {
  min-width: 18px;
  min-height: 18px;
  position: relative;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
  position: relative;
}

.navigation-link:hover .navigation-icon {
  fill: #756257;
}

.navigation-link:active .navigation-icon {
  fill: rgba(117, 98, 87, 0.3);
}

.navigation-icon-fav::after {
  content: '12';
  background-color: #7DB550;
  position: absolute;
}

.button-want-here {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    padding: 9px 15px 8px;
    width: 160px;
    box-sizing: border-box;
    margin-left: 20px;
}

.button {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  font-family: "PT Sans";
  color: #FFFFFF;
  background: #756257;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
}

.button:hover {
  background-color: #615048;
  color: white;
}

.button:active {
  background-color: #615048;
  color: white;
}

.button:focus {
  border: 3px solid #83B3D3;
}

.button-blue {
    color: #FFFFFF;
    background: #83B3D3;
}

.button-blue:hover {
  background-color: #68A2CA;
}

.button-blue:focus {
  background: #68A2CA;
  border: 3px solid #756257;
}

.button-blue:active {
  background: #68A2CA;
  opacity: 0.3;
}

.main-index {
    background-image: url("../images/index-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.main-container {
  flex-grow: 1;
  padding-top: 51px;
}

.promo-logo {
  display: block;
  margin: 0 auto;
  margin-bottom: 145px;
}

.promo-text {
    font-size: 22px;
    line-height: 36px;
    text-align: center;
    color: #333333;
    width: 720px;
    margin: 0 auto;
    margin-bottom: 80px;
}

.promo-bold {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    color: #000000;
    display: block;
    margin-bottom: 31px;
}

.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  width: 1200px;
  flex-wrap: wrap;
  list-style-type: none;
}

.advantages-item {
     background: rgba(131, 179, 211, 0.12);
     text-align: center;
     width: 400px;
     padding-top: 97px;
     padding-bottom: 108px;
     color: #333333;
}

.advantages-item:nth-child(2), .advantages-item:first-child {
    color: #FFFFFF;
    background: #83B3D3;
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.advantages-item:nth-child(4) {
  background: rgba(131, 179, 211, 0.2);
}

.advantages-item-wrapper {
  width: 400px;
  padding-top: 97px;
  padding-bottom: 87px;
}

.advantages-title {
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
}

.advantages-description {
    font-size: 18px;
    line-height: 21px;
    width: 250px;
    margin: 0 auto;
}

.advantages-item-wrapper .advantages-description {
  width: 220px;
}

.advantages-description .line {
  display: block;
  margin-bottom: 30px;
}

.advantages-city-list {
    background: #FFFFFF;
    display: flex;
    width: 1200px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.advantages-city-item {
    background: rgba(131, 179, 211, 0.12);
    color: #000000;
    width: 400px;
    padding-top: 184px;
    padding-bottom: 79px;
}

.advantages-city-item:nth-child(2) {
    background: #FFFFFF;
}

.advantages-city-title {
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  margin-bottom: 20px;
  position: relative;
}

.advantages-city-title-houses::before {
  width: 74px;
  height: 72px;
  position: absolute;
  top: -102px;
  content: '';
  background-image: url("../images/house.svg");
  background-repeat: no-repeat;
}

.advantages-city-title-houses::before {
  width: 75px;
  height: 72px;
  position: absolute;
  top: -95px;
  left: 163px;
  content: '';
  background-image: url("../images/house.svg");
  background-repeat: no-repeat;
}

.advantages-city-title-food::before {
  width: 74px;
  height: 70px;
  position: absolute;
  top: -93px;
  left: 163px;
  content: '';
  background-image: url("../images/food.svg");
  background-repeat: no-repeat;
}

.advantages-city-title-souvenirs::before {
  width: 64px;
  height: 76px;
  position: absolute;
  top: -99px;
  left: 168px;
  content: '';
  background-image: url("../images/gift.svg");
  background-repeat: no-repeat;
}

.advantages-city-description {
  font-size: 18px;
  line-height: 21px;
  width: 250px;
  margin: 0 auto;
  text-align: center;
}

.interested {
  padding-top: 91px;
  padding-bottom: 93px;
}

.interested-title {
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 0 29px 0;
    padding: 0;
}

.interested-description {
    font-size: 22px;
    text-align: center;
    color: #333333;
    width:720px;
    margin: 0 auto 56px auto;
}

.interested-button {
    line-height: 36px;
    width: 575px;
    padding: 15px 0 15px 0;
    border-radius: 10px;
    position: relative;
    left: 312px;
}

.subscription {
    background-image: url("../images/background-footer.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;
    padding-top: 94px;
    padding-bottom: 94px;
}

.subscription-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 auto 29px auto;
    padding: 0;
}

.subscription-text {
    font-size: 22px;
    line-height: 26px;
    margin: 0 auto 46px auto;
    width: 720px;
}

.subscription-form {
  display: flex;
  height: 60px;

}

.subscription-button {
    font-family: "PT Sans";
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    width: 200px;
    align-items: center;
    text-align: center;
    border-radius: 0px 10px 10px 0px;
}

.footer-container {
  display: flex;
  padding: 40px 72px;
}

.footer-social {
  width: 150px;
  margin-right: auto;
}

.footer-social-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.footer-social-item {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.footer-social-item:nth-child(3n) {
  margin-right:0;
}

.footer-social-link {
  display: block;
  width: 20px;
  height: 18px;
  background-position: center;
  background-repeat: no-repeat;
}

.footer-social-link svg{
  fill: #83B3D3;
}

.footer-social-link:hover svg{
  fill: #68A2CA;
}

.footer-social-link:focus svg{
  padding: 10px 0;
  border: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 10px;
  fill: #68A2CA;
}

.footer-social-link:active svg{
  fill: #68A2CA;
  opacity: 0.3;
}

.footer-contacts {
  width: 720px;
  margin: 0 auto;
  text-align: center;
}

.footer-contacts-phone {
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
}

.footer-contacts-phone:hover {
  color: #756257;
}

.footer-contacts-phone:focus {
  border: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 10px;
}

.footer-contacts-phone:active {
  color: #756257;
  opacity: 0.3;
}

.footer-copyright {
  width: 115px;
  margin-left: auto;
}

.footer-copyright-link svg{
  fill: #000000;
}

.footer-copyright-link:hover svg{
  fill: #756257;
}

.footer-copyright-link:focus svg{
  border: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 10px;
}

.footer-copyright-link:active svg{
  fill: #756257;
  opacity: 0.3;
}

.main-inner {
  background: url("../images/catalog-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding: 35px 72px 0 72px;
}

.inner-header {
    color: #FFFFFF;
    padding-bottom: 83px;
}

.inner-header-title {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    margin: 0;
    padding: 0;
}

.breadcrumbs {
  padding: 0;
  margin: 0 0 45px 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.breadcrumbs-link {
    font-size: 16px;
    line-height: 21px;
    text-decoration: none;
    color: #FFFFFF;
    margin-right: 26px;
}

.control {
    font-size: 18px;
    line-height: 23px;
}

.catalog-filter-form {
  display: flex;
}

.catalog-filter-group {
  max-width: 180px;
  border: none;
  margin: 0;
  padding: 0;
  margin-right: 67px;
}

.catalog-filter-title {
  padding: 0;
  margin-bottom: 30px;
  font-weight: 700;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 18px;
  line-height: 23px;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 13px;
}

.catalog-filter-buttons {
  margin-left: auto;
}

.catalog-filter button {
    font-family: "PT Sans";
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
}

.catalog-filter-button-reset {
    background: transparent;
}

.catalog-products {
  padding-top: 44px;
}

.catalog-products-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 53px;
}

.catalog-products-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    text-transform: uppercase;
    margin: 0;
    margin-right: auto;
    padding: 0;
}

.select-control {
    font-family: "PT Sans";
    font-size: 18px;
    line-height: 23px;
    color: #333333;
    margin-right: 81px;
}

.catalog-products-wrapper .button {
  background-color: grey;
  width: 48px;
  height: 48px;
  margin-right: 8px;
}

.product-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 10px 18px;
  margin-bottom: 34px;
}

.product-card {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.product-card-wrapper {
  display: grid;
  grid-template-columns: 133px 143px;
  gap: 16px 25px;
  margin-bottom: 16px;
}

.product-card-link {
  text-decoration: none;
}

.product-card-image {
  margin-bottom: 16px;
}

.product-card-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #000000;
    margin: 0;
    margin-bottom: 16px;
}

.product-card-type-of-housing, .product-card-price {
    font-size: 18px;
    line-height: 23px;
    color: #333333
}

.button-more, .button-favourites {
    font-size: 16px;
    line-height: 21px;
}

.product-card-rating {
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
    margin-left: auto;
    width: 160px;
    background-color: #F2F2F2;
    padding: 9px 0px 10px 0px;
    border-radius: 4px;
}

.button-favourites-current {
    background: #7DB54F;
}

.pagination-show-more {
    font-size: 20px;
    line-height: 26px;
}

.pagination-container {
  display: flex;
}

.pagination {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  margin-right: auto;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #83B3D3;
    text-align: center;
    display: block;
    width: 55px;
    height: 55px;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 4px;
}

.pagination-current {
    color: #000000;
    background-color: #F2F2F2;
}

.count-items {
    font-size: 18px;
    line-height: 23px;
    color: #333333;
    align-self: center;
}

.catalog-footer .subscription{
  background: none;
  background-color: #FFFFFF;
  color: #000000;
  padding-top: 73px;
}

.catalog-footer p {
  color: #333333;
}
